.about{
    width:100%;
    padding:70px 0;
    margin-top: -60px;
}

.about__container{
    width:90%;
    max-width:1380px;
    margin:auto;
    display:flex;
    align-items:center;
    gap:10px;
}

.about__content{
    width:48%;
    max-width:620px;
    display:flex;
    flex-direction:column;
    justify-content:right;
    align-items:right;
    transform: translate(65px,-30px);
}

.about__image{
    width:50%;
}

.about__image img{
    width:75%;
    margin-right: 35px;
    object-fit:cover;
    display:block;
    border-radius:1px;
}

.about__title{
    font-size: 31px;
    font-weight: 700;
    color: #2F3A4A;
    line-height: 1.2;
    margin-bottom: 12px;
}

.about__line{
    display: block;
    width: 82px;
    height: 3px;
    background: #FFC700;
    margin: 0 0 18px;
    border-radius: 20px;
}

.about__description{
    width: 110%;
    font-size:17px;
    line-height:2;
    color:#434653;
    font-weight:400;
    text-align:right;
    margin-bottom:45px;
}

.about__button{
    display:flex;
    align-items:center;
    width:150px;
    height:43px;
    background:#FFC700;
    color:#00276f;
    text-decoration:none;
    font-size:17px;
    font-weight:500;
    position:relative;
    justify-content:flex-end;
    border-radius: 2px;
    margin-right:auto;
}

.about__button-text{
    flex:1;
    text-align:center;
    margin-right: -10px;
}

.about__button-circle{
    width:50px;
    height:47.5px;
    background:#FFC700;
    border-radius:48% 40% 13% 48%;
    position:absolute;
    left:-31px;
    top:50%;
    transform:translateY(-50%);
    border-right:3.5px solid white;
    border-top:3.5px solid white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:4px;
    margin-top: -2px;
}

.about__button-circle span{
    display:block;
    height:1.5px;
    background:#00276f;
    border-radius:10px;
}


.about__button-circle span:nth-child(1){
    width:20px;
}

.about__button-circle span:nth-child(2){
    width:14px;
}

.about__button-circle span:nth-child(3){
    width:8px;
}

.footer{
    background:#003190;
}


.footer__top{
    border-bottom:1px solid rgba(255,255,255,.9);
}


.footer__container{
    width:100%;
    max-width:1380px;
    margin:auto;
}

.footer__menu{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:38px;
    height:70px;
}

.footer__menu a{
    position:relative;
    color:#fff;
    text-decoration:none;
    font-size:18px;
    font-weight:500;
    transition:.3s;
}

.footer__menu a.active{
    color:#F4B400;
}

.footer__menu a:not(:last-child)::after{
    content:"";
    position:absolute;
    left:-20px;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:22px;
    background:rgba(255,255,255,.7);
}
.footer__menu a:hover{
    color:#F4B400;
}

.footer__bottom{
    padding:20px 0;
}

.footer__bottom .footer__container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer__social{
    display:flex;
    align-items:center;
    gap:34px;
}

.footer__social a{
    color:#fff;
    font-size:22px;
    text-decoration:none;
    transition:.3s ease;
}

.footer__social a:hover{
    color:#F4B400;
}

.footer__copyright{
    display:flex;
    align-items:center;
    gap:10px;
    color:#fff;
    font-size:18px;
    font-weight:500;
}

.footer__copyright img{
    width:50px;
    display:block;
}