
.feature-section{
    position: relative;
    padding: 140px  0;
    overflow: hidden;
    background: #ffffff;
}

.feature-section__container{
    position: relative;
    width: 1320px;
    max-width: 92%;
    margin: 0 auto;
    min-height: 720px;
}

.feature-section__image{
    position: absolute;
    left: -80px;
    top: 30%;
    transform: translateY(-50%);
    width: 48%;
    z-index: 2;
}

.feature-section__image img{
    display: block;
    width: 83%;
    height: 550px;
    object-fit: cover;
}

.feature-section__content{
    position:absolute;
    top:46.4%;
    right:-1.9%;
    width:60%;
    min-height:200px;
    background:#003190;
    color:#fff;
    padding:30px 40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    opacity:0;
    transform:translate(100px,-50%);
    transition:
        transform .9s cubic-bezier(.22,.61,.36,1),
        opacity .9s ease;
    transition-delay: 1s;
}

.feature-section__text{
    font-size: 17px;
    line-height: 2;

}

.feature-section__title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;

}

.feature-section__line{
    position: relative;
    left: -80px;
    right:-80px;
    width: calc(100% + 160px);
    height: 2px;
    background: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}


.feature-section__dots{
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

.feature-section__dots::before,
.feature-section__dots::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    background-image: radial-gradient(
        #d4d4d4 0.8px,
        transparent 1px
    );
    background-size: 45px 45px;
}

.feature-section__dots::after{
    transform: translate(22.5px,22.5px);
}

.feature-section__content.show{
    opacity:1;
    transform:translate(0,-50%);
}

.about__button-f{
    display:flex;
    align-items:center;
    width:150px;
    height:43px;
    background:#2650a1;
    color:white;
    text-decoration:none;
    font-size:17px;
    font-weight:500;
    position:relative;
    justify-content:flex-end;
    border-radius: 2px;
    margin-right: 520px;
}

.about__button-text-f{
    flex:1;
    text-align:center;
    margin-right: -10px;
}

.about__button-circle-f{
    width:50px;
    height:47.5px;
    background:#2650a1;
    border-radius:48% 40% 13% 48%;
    position:absolute;
    left:-31px;
    top:50%;
    transform:translateY(-50%);
    border-right:3.5px solid #003190;
    border-top:3.5px solid #003190;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:4px;
    margin-top: -2px;
}

.about__button-circle-f span{
    display:block;
    height:1.5px;
    background:white;
    border-radius:10px;
}


.about__button-circle-f span:nth-child(1){
    width:20px;
}

.about__button-circle-f span:nth-child(2){
    width:14px;
}

.about__button-circle-f span:nth-child(3){
    width:8px;
}