@font-face {
    font-family: "Anjoman";
    src: url("../font/Anjoman-FaNum-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anjoman";
    src: url("../font/Anjoman-FaNum-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anjoman";
    src: url("../font/Anjoman-FaNum-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: "Anjoman", sans-serif;
}